@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TNanti";
  src: url("../src/fonts/TNanti-Demo.otf");
}

@font-face {
  font-family: "Kind";
  src: url("../src/fonts/Kind\ Daily.ttf");
}


@font-face {
  font-family: "Avocado";
  src: url("../src/fonts/Hello\ Avocado.ttf");
}